<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plugin 5 Text Animation</title>
    <link rel="stylesheet" type="text/css" href="css/jquery.funnyText.css" />

    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <div class="text-box">
                <h1 class="single-text">Animated Text</h1>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/funnyText.js"></script>
    <script>
       $(document).ready(function() {
            $('.single-text').funnyText();
        });
    </script>
</body>
</html>